# Node.js Modules
node_modules

# important session
*.data.json

# vim state
.*.swp

# Databases
database.json 
# *_database.json

# tmp

.*.tmp
# Okay
# config.js

# Google Drive Credentials?
credentials.json
token.json

# added by anubiskun
ig-*@s.whatsapp.net.json
cookies.json
tmp/*.jpg
tmp/*.mp4

# source code inspecting purposes
waweb
# planned
web-client
package-lock.json
